@charset "UTF-8";
;
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}

ol,ul{list-style:none}

a {
    color: inherit;
    text-decoration: none;
}

.border{border:2px solid red;}

.container{width:100%;max-width:1320px;margin-left:auto;margin-right:auto;padding-left:4.16667%;padding-right:4.16667%}

.header{margin-top:2.85rem;margin-bottom:6rem}@media only screen and (max-width: 479px){.header{margin-top:1.5rem;margin-bottom:4.5rem}}



.row{margin-left:-1.38889%;margin-right:-1.38889%;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}

.rowHeader{-webkit-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;-moz-align-items:flex-end;align-items:flex-end}@media only screen and (max-width: 479px){.rowHeader{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;-moz-align-items:flex-start;align-items:flex-start}}

.col{padding-left:1.38889%;padding-right:1.38889%}

.colHeader{font-family:raleway}

.colHeader:nth-child(1){width:16.66667%}@media only screen and (max-width: 479px){.colHeader:nth-child(1){width:50%}}.colHeader:nth-child(2){width:83.33333%}@media only screen and (max-width: 479px){.colHeader:nth-child(2){width:50%}}


.navItems{text-align:right;margin-left:-1.38889%;margin-right:-1.38889%}@media only screen and (max-width: 479px){.navItems{text-align:left}}.navItem{display:inline-block;padding-left:1.38889%;padding-right:1.38889%}@media only screen and (max-width: 479px){.navItem{display:block}}

.navItem{font-family:raleway}

.navItemActive{ font-family:raleway;   color:tomato;}
