@charset "UTF-8";
@import url(./reset.css);
@import url(./responsive.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

 

 .container{
     width:100%;
     max-width:1320px;
     margin-left:auto;
     margin-right:auto;
     padding-left:5%;
     padding-right:5%
}



 .title{
     max-width:14em
     }

