.halifaxtown{
 fill:#0060aa;
 stroke:#fff;
    stroke-width: 4px
}

.halifaxtowntext {
          fill:#fff;
    font-weight:800;
    font-family:raleway;
}

.burnley{
fill:#70193d;
stroke:#93c6e0;
    stroke-width: 4px;
}

.burnleytext {
          fill:#93c6e0;
    font-weight:800;
     font-family:raleway;
}

.chartLabelText{
    fill: steelblue;
      font-weight:600;
     font-family:roboto;
}

.leedsunited{
fill: yellow;
stroke:#254591;
    stroke-width: 4px
}

.leedsunitedtext{
         fill:#254591;
    font-weight:800;
     font-family:raleway;
        pointer-events: none;
}

.manchesterunited, .yorkcity{
fill:#da020f;
stroke:#fff;
    stroke-width: 4px

}

.barnsley{
    fill:#972f36;
stroke:#fff;
    stroke-width: 4px
    
}

.manchesterunitedtext, .barnsleytext{
         fill:#fff;
    font-weight:800;
     font-family:raleway;
}

.yorkcitytext{
    fill:#162d3d;
     font-weight:800;
     font-family:raleway;
}

.manchestercity{
fill:#98c5e9;
stroke:#66769b;
    stroke-width: 4px

}

.manchestercitytext{
         fill:#66769b;
    font-weight:800;
     font-family:raleway;
}

.brighousetown{
    fill:#f42008;
    stroke:#000;
    stroke-width:4px
}

.brighousetowntext{
         fill:#000;
    font-weight:800;
     font-family:raleway;
}

.bradfordcity{
fill:#752641;
stroke:#e99302;
    stroke-width: 4px

}

.bradfordcitytext{
         fill:#e99302;
    font-weight:800;
     font-family:raleway;
}

.harrogatetown {
    fill:#edd00e;
    stroke:#000;
    stroke-width:4px
}

.harrogatetowntext{
    fill: #000;
    font-weight:800;
    font-family: raleway;
    pointer-events:none
}

.huddersfieldtown{
    fill:#007dc3;
    stroke:#fff;
    stroke-width: 4px
}

.huddersfieldtowntext{
         fill:#fff;
    font-weight:800;
     font-family:raleway;
}

.donuts{

    margin-top:10px;
    z-index:7;
    // min-height:500px


}

.svg{
    width:100%;
    height:100%;
        min-height:500px;
    // z-index:88;
}