.MappingBody{
  background: #fff; color: steelblue;
}

.something{background:#662020}

.container{
 width:100%;
 max-width:1320px;
 margin-left:auto;
 margin-right:auto;
 padding-left:5%;
 padding-right:5%
}

.col{
  padding-left:1.5%;
  padding-right:1.5%;
  font-family:"Lucida Console";
}

.title{max-width:14em}

.left{
  margin-top:-4rem;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  resize: vertical;

}

.right{
  flex:2;
  margin-top:-4rem;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  resize: vertical;
}

.active{
  color:tomato;
  flex: 1;
  list-style:none
}



.mapView{
  display:flex;
}

.teamChooser{
  list-style:none;
  flex:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  resize: vertical;
}

.teamChooser span{
  font-size:75%
}

path {
  stroke-width: 1px;
  stroke: white;
  cursor: pointer;
}

.placeLabel{
  fill:black;
  font-family:raleway;
}


.halifaxtown{
  fill:#0060aa;
  stroke:#fff;
  stroke-width: 4px
}

.halifaxtowntext {
  fill:#fff;
  font-weight:800;
  font-family:raleway;
  pointer-events: none;
}

.burnley{
  fill:#70193d;
  stroke:#93c6e0;
  stroke-width: 4px;
}

.burnleytext {
  fill:#93c6e0;
  font-weight:800;
  font-family:raleway;
  pointer-events: none;
}

.leedsunited{
  fill: yellow;
  stroke:#254591;
  stroke-width: 4px
}

.leedsunitedtext{
 fill:#254591;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}

.barnsley{
  fill:#972f36;
  stroke:#fff;
  stroke-width: 4px
}

.yorkcitytext{
  fill:#162d3d;
  font-weight:800;
  font-family:raleway;
}


.manchesterunited, .yorkcity{
  fill:#da020f;
  stroke:#fff;
  stroke-width: 4px

}

.harrogatetown {
  fill:#edd00e;
  stroke:#000;
  stroke-width:4px
}

.harrogatetowntext{
  fill: #000;
  font-weight:800;
  font-family: raleway;
  pointer-events:none
}

.manchesterunitedtext,  .barnsleytext{
 fill:#fff;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}

.manchestercity{
  fill:#98c5e9;
  stroke:#66769b;
  stroke-width: 4px

}

.manchestercitytext{
 fill:#66769b;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}

.brighousetown{
  fill:#f42008;
  stroke:#000;
  stroke-width:4px
}

.brighousetowntext{
 fill:#000;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}

.bradfordcity{
  fill:#752641;
  stroke:#e99302;
  stroke-width: 4px

}

.bradfordcitytext{
 fill:#e99302;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}



.huddersfieldtown{
  fill:#007dc3;
  stroke:#fff;
  stroke-width: 4px
}

.huddersfieldtowntext{
 fill:#fff;
 font-weight:800;
 font-family:raleway;
 pointer-events: none;
}

.donuts{
  height:100%;
  margin-top:10px

}