.active{
    color:tomato;
      flex: 1;
  list-style:none;

  font-size:75%
}

.regChooser{
    /*border:2px solid blue;*/

flex:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  resize: vertical;
  z-index:8;
}

.regionChoice{
  flex: 1;
  list-style:none;
  font-size:75%
}